@model ResetPasswordVM
@{
    ViewData["Title"] = "UpdatePassword";
}
<div class="container">
    <div class="row tab-content justify-content-center">
        <div class="col-md-6  ml-auto mr-auto">
            <div id="login" role="tabpanel" class="single__tabs__panel tab-pane active">
                <p style="font-size: xx-large; text-align: center; margin-bottom: 10%">Set a new password</p>
                <form class="login" method="post">
                    <input style="margin-top: 2%" asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input style="margin-top: 2%" asp-for="RePassword" placeholder="RePassword">
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                    <div class="htc__login__btn" style="margin-top: 5%">
                        <button class="btn btn-danger">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>